@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Staatliches&display=swap');


*{
    box-sizing: border-box;
}

.container-fluid{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  
   width: 85vw;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    list-style: none; 
    justify-items: end;
    /* width: 100%; */
   
   
    
}
li{
    margin: 1vw;
    
    
}
.navbar{
     background-color:#4682B4; 
    box-shadow: 15px 15px 15px black;
    margin-bottom: 1vh;
    border-radius: 2vh;
margin-top: 0;
    position:fixed; 
    width: 99vw;
   top: 0%;
   display: flex;
   flex-direction: row;
   opacity: 0.95;
   

}
.Manaswi{
    width: 10vw;
    height: 13vh;
   
}
a{
    color: white;
    list-style: none;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    font-size: 110%;
    color:black;
    text-shadow: 5px 5px 5px white;
    font-weight: bold;
}



@media(max-width:768px){
    .navbar{
        background-color:#4682B4; 
       box-shadow: 15px 15px 15px black;
       margin-bottom: 1vh;
       border-radius: 1vh;
   margin-top: 0;
    
      top: 0%;
      display: flex;
      flex-direction: row;
      padding-left: 0.5vw;
      width: 115vw;
      
   
   }
   .container-fluid{
       height: 12vh;
      
     
   }
   .Manaswi{
    width: 20vw;
    height: 10vh;

}
li{
    margin: 1vw;
    
    
}
a{
    font-size: 2vh;
}
}
@media(max-width:425px){
    .navbar{
        background-color:#4682B4; 
       box-shadow: 15px 15px 15px black;
       margin-bottom: 1vh;
       border-radius: 1vh;
   margin-top: 0;
       width: 115vw;
      top: 0%;
      display: flex;
      flex-direction: row;
      padding-left: 0.2vw;
      width: 105vw;
    
    }
    .Manaswi{
        width: 10vw;
        height: 8vh;
    }
    a{
            font-size: 1.5vh;
        }
    

}